.App {
  text-align: center;
}

.App-header {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: #61dafb;
    font-size: 42px;
}
